<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title>jQuery Autocomplete Plugin</title>
<script type="text/javascript" src="/lib/jquery.js"></script>
<script type='text/javascript' src='/lib/jquery.bgiframe.min.js'></script>
<script type='text/javascript' src='/lib/jquery.ajaxQueue.js'></script>
<script type='text/javascript' src='/jquery.autocomplete.js'></script>
<link rel="stylesheet" type="text/css" href="main.css" />
<link rel="stylesheet" type="text/css" href="/jquery.autocomplete.css" />
	
<script type="text/javascript">
$().ready(function() {

	function log(event, data, formatted) {
		$("<li>").html( !data ? "No match!" : "Selected: " + formatted).appendTo("#result");
	}
	
	$("#autosuggestfield").autocomplete("words", {
		width: 260,
		selectFirst: false
	});
})

</script>
	
</head>

<body>
<p>source <a href="http://bassistance.de/jquery-plugins/jquery-plugin-autocomplete/">http://bassistance.de/jquery-plugins/jquery-plugin-autocomplete/</a></p>

<div id="content">
	
	<form autocomplete="off">

		<p>
			<label>Start typing:</label>
			<input type="text" id="autosuggestfield" />
		</p>

	</form>
	
</div>
</body>
</html>
